<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="jumbotron">
      <div class="container" style="background: url('{{ "/img/puebla-panorama.jpg" | prepend: site.baseurl }}'); min-height: 750px; width:100%; background-size: cover;">
        <div class="container">
        <br /><br />
        <h2>2nd International Conference on<br />Smart Data and Smart Cities <br />
        October 4&ndash;6, 2017 &#xb7; Puebla, Mexico</h2>
        </div>
      </div>
      <p style="text-align: right;"><small><small>Photo: Heriberto Manuel González Dominguez</small></small></p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="row"><div class="col-md-10 col-md-offset-1"><a href="http://www.isprs.org/"><img class="img-responsive" src="{{ "/img/isprs_logo2.gif" | prepend: site.baseurl }}" /></a></div></div><br />
          <div class="row"><div class="col-md-8 col-md-offset-2"><a href="http://www.udms.net"><img class="img-responsive" src="{{ "/img/logo-udms2.jpg" | prepend: site.baseurl }}" /></a></div></div><br />
          <a href="http://tec.mx/en/inicio"><img class="img-responsive" src="{{ "/img/itesm.png" | prepend: site.baseurl }}" /></a><br />
          <div class="row"><div class="col-md-12"><a href="http://www.udlap.mx/inicio.aspx?idioma=2"><img class="img-responsive" src="{{ "/img/udlap.jpg" | prepend: site.baseurl }}" /></a></div></div><br />
          <div class="row"><div class="col-md-8 col-md-offset-2"><a href="http://inaoep.mx/en/"><img class="img-responsive" src="{{ "/img/inaoe.jpg" | prepend: site.baseurl }}" /></a></div></div><br />
          <div class="row"><div class="col-md-8 col-md-offset-2"><a href="http://cmas.siu.buap.mx/portal_pprd/wb/English/"><img class="img-responsive" src="{{ "/img/buap.png" | prepend: site.baseurl }}" /></a></div></div><br />
          <div class="row"><div class="col-md-8 col-md-offset-2"><a href="http://www.ipn.mx/Paginas/inicio.aspx"><img class="img-responsive" src="{{ "/img/ipn.png" | prepend: site.baseurl }}" /></a></div></div><br />
          <div class="row"><div class="col-md-12"><a href="https://www.infotec.mx"><img class="img-responsive" src="{{ "/img/logo-infotec.png" | prepend: site.baseurl }}" /></a></div></div><br />
          <div class="row"><div class="col-md-12"><a href="http://ieee-puebla.org"><img class="img-responsive" src="{{ "/img/ieee.jpg" | prepend: site.baseurl }}" /></a></div></div><br />
          <div class="row"><div class="col-md-12"><a href="http://www.t-systems.com.mx"><img class="img-responsive" src="{{ "/img/t-systems.png" | prepend: site.baseurl }}" /></a></div></div><br />
          <div class="row"><div class="col-md-12"><a href="https://icluster-puebla.spribo.com"><img class="img-responsive" src="{{ "/img/RediCluster_Logo_fondoclaro.png" | prepend: site.baseurl }}" /></a></div></div><br />
        </div>
        <div class="col-md-7 col-xs-9">
          {{ content }}
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="alert alert-info">
            <h4>Important dates</h4>
            <br />

            <!-- <s>March 31, 2017</s><br />
            <s>May 15, 2017</s><br /> -->
            <b>June 12, 2017</b><br />
            <ul><li>Full paper submission</li></ul><br />

            <!-- <s>April 30, 2017</s><br />
            <s>June 15, 2017</s><br /> -->
            <b>July 10, 2017</b><br />
            <ul><li>Author notification</li></ul><br />

            <!-- <s>May 26, 2017</s><br />
            <s>June 30, 2017</s><br /> -->
            <b>July 31, 2017</b><br />
            <ul><li>Final version of papers due</li></ul><br />

            <b>August 25, 2017</b><br />
            <ul><li>Early bird registration ends</li></ul><br />

            <b>October 4&ndash;6, 2017</b><br />
            <ul><li>Conference</li></ul><br />
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
